@tailwind base;
@tailwind components;
@tailwind utilities;

table tbody td {
	@apply px-6 py-4 whitespace-nowrap text-sm text-gray-900;
}

table thead {
	@apply bg-gray-50 text-gray-600 h-12;
}

table thead th {
	@apply relative px-6 py-3 text-left text-xs text-gray-500 uppercase tracking-wider;
}

table tbody tr:nth-child(even) {
	@apply bg-gray-100;
}

table thead th:before {
	content: '▲';
	@apply absolute opacity-50 left-2 top-3
}

table thead th:after {
	content: '▼';
	@apply absolute opacity-50 left-2 top-6
}

table thead th.desc:before,
table thead th.asc:after {
	@apply opacity-100
}